# Assignment1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
#Q1.ans:
s="pwskills"
l=[1,2,3,4,5]
f=1.5
t=(a,e,i,o,u)

In [ ]:
Q2. Given are some following variables containing data:
(i) var1=''
(ii) var2='[DS,ML,Python]'
(iii) var3=[DS,ML,Python]
(iv) var4=1
What will be the data type of the given variables.
(i)ans: data type of var1 is 'str'
(ii)ans: data type of var2 is 'str'
(iii)ans: data type of var2 is 'list'
(iv) ans: data type of var2 is 'int'

In [ ]:
Q3. Explain the use of following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
#(i)ans: For division, we can use '/' operator. '/'returns only float of data.
# consider an example
a=15
b=3
c=a/b
print(c) # value of c is 5.0(float)

In [ ]:
#(ii)ans: To get remainder we use '%' (modulus operator).
#example:
x=7
y=3
z=x%y
print(z) # value of z is 1

In [ ]:
#(iii)ans: To devide and get integer value, we use '//' (floor division operator).If both operands are integer then '//' returns int type of data.
# If at least one operand is float, then '//' returns float type of data.
#example:
m=9
n=4
k=m//n
print(k) # value of k is 2
a=3.5
b=2
c=a//b
print(c) # value of c is 1.0

In [ ]:
#(iv)ans: To calculate power of any number, we use '**' operator.
#consider
x=2
y=4
z=x**y
print(z) # value of z is 16

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l=[1,'a',3.5,True,3+4j,"pwskills",(0,1),2,5.5,'xyz']
for i in l:
    print(i,type(i))

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A=int(input("Enter the value of A: "))
B=int(input("Enter the value of B: "))
times=0
while(A!=0):
    if A%B==0:
        times+=1
        A-=B
    else:
        print(A,"is not divisible by",B)
        break
else:        
    print("How many times it can be divisible?")
    print(times)

In [ ]:
#Q6. Create a list contain int type of data. Using for loop and if-else condition print if the element is divisible by 3 or not.

m=[1,2,3,6,7,9,10,15,64,21,34,87,90,91,23,26,25,45,56,78,61,8,77,89,101]
for x in m:
    if x%3==0:
        print(x,"is divisible by 3")
    else:
        print(x,"is not divisible by 3")

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#ans: Mutable data types means we can change, edit the data. But in case of immutable,we can not change.
#consider example:
l=[1,2,3,"a","xyz"]
l[3]=3.5
print(l) # here changing the index 3 of the list,assign 3.5 in l[3] in place of "a" and l=[1,2,3,3.5,"xyz"] 
t=(1,2,3,4)
t[1]="a" # here we get an error,we can not change any element in tupple,since tupple is immutable.